body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    background: #2b3947;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
}

.nav-btn {
    background: white;
    padding: 8px 12px;
    color: #2b3947;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.nav-btn:hover {
    background: #6a8aaea9;
    color : white;
}

.container {
    padding: 20px;
}

h2 {
    margin-top: 40px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* CARDS */
.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

/* ALERTES */
#alert-box {
    background: #fff3cd;
    color: #856404;
    padding: 15px;
    border-left: 5px solid #ffecb5;
    border-radius: 4px;
}
