<html>
    <head>
        <meta charset="utf-8">
        <title>Site</title>
        <link href="style_accueil.css" rel="stylesheet">
        <script src="scripts.js"></script>  
    </head>
    <body class=""> <!-- ajout class sombre ici -->
        <div class="bienvenue"> <!-- ajout class sombre ici -->
            <div class="page">Login</div>
            <div class="logo">Musi-quali <img src="logo.png" alt="logo"/></div>
            <div class="b">
                <input class="mode_sombre" type="button" value="Mode "+{{...}}/> <!-- modif class input entre mode_clair quand mode de la page est sombre, mode_sombre quand le mode de la page est clair -->
                <select name="langue" id="langue">
                    <option value="Langue">Français</option>
                    <option value="Langue">Anglais</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="h1">
            <h1>Bienvenue sur Musi-quali, votre plateforme de diffusion sonore</h1>
        </div>
        <div class="presentation"> <!-- ajout class sombre ici -->
            <p>
                Musi-quali est une plateforme qui vous permettra de diffuser de la musique et des messages sonores dans votre établissement.
                Vous pouvez préparer à l'avance un planning de musiques et de messages de publicité directement en ligne, faire des annonces
                quand vous voulez, et notre plateforme marche même en cas de coupure de connexion.
            </p>
            <br>
            <h3>
                Besoin d'une ambiance sonore dans votre magasin ? Utilisez Musi-quali !
            </h3>
        </div>

        <div class="equipe"> <!-- ajout class sombre ici -->
            <p>
                Nous somme une équipe d'éudiants en deuxième année en BUT Informatique à l'Universitée Sorbonne Paris Nord.
            </p>
            <p>
                Notre équipe est composée de :
                <ul>
                    <li>Darragh BOYLAN</li>
                    <li>Djibril CHEBLAL</li>
                    <li>Lucas HOARAU</li>
                    <li>Ambrine MASTOURI</li>
                    <li>Arthur SHISHKOVSKIY-RYSCHENKOW</li>
                    <li>Anas TALBI</li>
                </ul>
            </p>
        </div>
    </body>
</html>