{% extends 'layout.html' %}

{% block content %}



<div style="position : relative;">
    <img src="https://imgur.com/NIkY8pr.png" alt="image d'entree" style="width: 100%; height: 700px; border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;">
    <h1 style="position: absolute; top: 50%; left: 40%; text-align: center;">Affiche toi ou je te bute </h1>
</div>
<div class="container p-5 my-5;" >
    <div style="background-color:rgb(86, 115, 197); border-radius : 50px; padding: 20px;">
        <h3>A propos de ce site :</h3>
        <p>Ce site à pour but de vous permettre de controller la musique et les annonces jouer dans votre établissement avec une interface simplifiée se basant de calendrier.</p>
    </div>
    <br>
    <div style="background-color:rgb(86, 115, 197); border-radius: 50px; padding: 20px;">
        <h3>A propos de nous :</h3>
        <p>Nous somme une équipe d'éudiant en deuxième année en BUT Informatique à l'universitée Sorbonne Paris Nord. </p>
    </div>
    

</div>

{% endblock %}