<html>
    <head>
        <meta charset="utf-8">
        <title>Site</title>
        <link href="style.css" rel="stylesheet">
        <script src="scripts.js"></script>  
    </head>
    <body class=""> <!-- ajout class sombre ici -->
        <div class="test"> <!-- ajout class sombre ici -->
            <div class="page">Login</div>
            <div class="logo">Musi-quali <img src="logo.png" alt="logo"/></div>
            <div class="b">
                <input class="mode_sombre" type="button" value="Mode {{...}}"/>
                <select name="langue" id="langue">
                    <option value="Langue">Français</option>
                    <option value="Langue">Anglais</option>
                </select>
            </div>
        </div>
        <div class="h1">
            <h1>Login : <input class="login" type="text"/></h1>
            <h1>Password : <input class="password" type="text"/></h1>
            <input class="seconnecte" type="button" value="Se connecter"/>
        </div>
        
    </body>
</html>