<div class="test"> <!-- ajout class sombre ici -->
    <div class="user-info">
        <div>User: <strong>{{Nom}}</strong></div>
        <div style="font-size: 0.9em;">{{Role}}</div> <button class="btn-logout">Logout</button>
    </div>

    <div class="logo">Musi-quali <img src="logo.png" alt="logo"/></div>

    <div class="b">
        <input class="mode sombre" type="button" value="Mode {{...}}"/>
        <select name="langue">
            <option>Français</option>
            <option>English</option>
        </select>
    </div>
</div>