<html>
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <link rel="icon" href="../static/logo.png" type="image/png">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body class=""> <!-- ajout class sombre ici -->
    {% include 'nav_v2.html' %}

    <div class="main-content"> <!-- ajout class sombre ici -->
        <div class="col-gauche">
            <button class="btn-rouge" id="create">{{t.btn_rouge_5}}</button>
            <form id="form_admin" action="/admin/create_user" method="POST" class="form-inline">
            	<p>{{t.h1}} : <input name="username" type="text"/></p>
            	<p>{{t.password}} : <input name="password" type="text"/></p>
				<p><label for="role-select">{{t.role}} :</label>
					<select name="role" id="role-select" class="form-control">
    					<option value="commercial">{{t.commercial}}</option>
    					<option value="marketing">{{t.marketing}}</option>
    					<option value="admin">{{t.admin}}</option>
					</select>
				</p>
            	<input class="seconnecte" type="submit" value="{{t.create}}"/>
			</form>
            <button class="btn-rouge">{{t.btn_rouge_1}}</button>
            <button class="btn-rouge">{{t.btn_rouge_3}}</button>
            <button class="btn-rouge">{{t.btn_rouge_4}}</button>
            <button class="btn-rouge">{{t.btn_rouge_2}}</button>
            <br>
            <form action="/testRasp" method="POST">
                <div class="mb-3 mt-3">
                    <label for="nom" class="form-label">{{t.q_form_1}}</label>
                    <br>
                    <input type="text" class="form-control" id="nom" placeholder="{{t.t_form_1}}" name="nom">
                    <br>
                    <label for="ipRasp" class="form-label">{{t.q_form_2}}</label>
                    <br>
                    <input type="text" class="form-control" id="ipRasp" placeholder="{{t.t_form_2}}" name="ipRasp">
                </div>
                <br>
                <button type="submit" class="submit" style="background-color: #a33e3e; margin-bottom: 20px; text-align: left;">{{t.valider}}</button>
            </form>
            
            <p>{{t.refresh}} : --:--</p>

            <div class="note-jaune">
                <strong>{{t.notes}} :</strong>
                <ul>
                    <li>...</li>
                </ul>
                <hr>
                <strong>{{t.contacts}} :</strong><br>
                ...<br>
            </div>
        </div>

        <div class="col-droite">
            <div class="log-header">
                LOGS
                <select style="color:black;"><option>Raspberry n°1</option><option>Raspberry n°2</option></select>
            </div>
            <div class="console-logs">
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    {% include 'fin_nav.html' %}
</body>
</html>