<html>
    <head>
        <meta charset="utf-8">
        <title>Site</title>
        <link rel="icon" href="../static/logo.png" type="image/png">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body class=""> <!-- ajout class sombre ici -->
        <div class="nav"> <!-- ajout class sombre ici -->
            <div class="page" id="index">{{t.index}}</div>
            <div class="logo">Musi-quali <img src="{{ url_for('static', filename='logo.png') }}" alt="logo"/></div>
            <div class="b">
                <input class="mode-sombre btn-mode" type="button" value="🌒" id="bouton"/>
                <select name="langue" id="select-langue">
                    <option value="fr" {% if current_lang == 'fr' %}selected{% endif %}>Français</option>
                    <option value="en" {% if current_lang == 'en' %}selected{% endif %}>English</option>
                </select>
            </div>
        </div>
        <div class="h1">
            <form id="form" action="/login" method="POST" class="form-inline">
                <h1>{{t.h1}} :<input name="username" type="text"/></h1>
                <h1>{{t.password}} : <input name="password" type="text"/></h1>
                <input class="seconnecte" type="submit" value="{{t.connexion}}"/>
            </form>
        </div>        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
            document.getElementById('index').addEventListener('click', function(){
                window.location.href = "http://localhost:8000";
            })
        </script>

        {% include 'fin_nav.html' %}
    </body>
</html>