<html>
<head>
    <meta charset="utf-8">
    <title>Marketing Dashboard</title>
    <link rel="icon" href="../static/logo.png" type="image/png">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body class=""> <!-- ajout class sombre ici -->
    {% include 'nav_v2.html' %}

    <div class="main-content"> <!-- ajout class sombre ici -->
        <div class="col-gauche">
            <button class="btn-bleu">▶ {{t.play}}</button>
            <button class="btn-bleu">🔀 {{t.shuffle}}</button>



    </div>

        <div class="col-droite">
    <h3>Upload une nouvelle musique</h3>

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="upload-zone" onclick="document.getElementById('audio-input').click();"> <!--ca maaaaaarche -->
            <div class="icone-upload">⬆</div>
            <p>Drag And Drop ou cliquer</p>

            <input
                type="file"
                id="audio-input"
                name="audio"
                accept=".mp3"
                style="display: none;"
                required
            >
        </div>

        <button type="submit" class="btn-upload">
            Envoyer
        </button>
    </form>
</div>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!--script js pour drag and drop-->
    <script> 
const uploadZone = document.querySelector('.upload-zone');//def de la zone qui accepte le drag and drop
const fileInput = document.getElementById('audio-input');//type de fichier accepté (je v voir si je peux le limiter encore plus pour que ca prenne que mp3 mais le backend le fait deja alors je verrai apres)

uploadZone.addEventListener('dragover', (e) => {//quand le fichier est au-dessus de la zone de dépot
    e.preventDefault();//autorise dépot
    uploadZone.classList.add('dragover'); //crée class css (je v créer un css qui assombrit la zone --- g mis le css dans style.css)
});

uploadZone.addEventListener('dragleave', () => {//quand le fichier n'est plus audessus de la zone
    uploadZone.classList.remove('dragover');//efface la classe css
});

uploadZone.addEventListener('drop', (e) => {//quand le fichier est drop
    e.preventDefault();//empeche le fichier d'etre ouvert
    uploadZone.classList.remove('dragover');//efface la classe css
    fileInput.files = e.dataTransfer.files; //copie les fichiers déposées dans "file" pour etre repris par le controlleur
});
</script>
    {% include 'fin_nav.html' %}
</body>
</html>