body {
    background-color: #b5d3f0;
    font-family: Times, "Times New Roman", Georgia, serif;
    position: relative; 
    min-height: 100vh;
    margin: 0;
}

body.sombre {
    background-color: #0e1a25;
    font-family: Times, "Times New Roman", Georgia, serif;
    position: relative; 
    min-height: 100vh;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

.h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50vh;
    position: relative;
    /* AJOUTEZ CECI pour que le texte reste au-dessus de l'image */
    z-index: 1;
}

.h1::after {
    content: "";
    background-image: url('logo.png'); /* Vérifiez le chemin */
    
    /* Positionnement absolu DANS le bloc .h1 */
    position: absolute;
    top: 50%;      /* On le place au milieu verticalement */
    left: 50%;     /* On le place au milieu horizontalement */
    transform: translate(-50%, -50%); /* Cette astuce centre l'image parfaitement */
    
    /* Taille et apparence */
    width: 500px;  /* Définissez une taille fixe pour qu'il ne soit pas trop grand */
    height: 500px; /* Adaptez selon la forme de votre logo */
    background-repeat: no-repeat;
    background-size: contain; /* S'assure que le logo rentre dans le carré */
    background-position: center center;
    opacity: 0.2;  /* Transparence discrète */
    
    /* On le met derrière le texte */
    z-index: -1; 
}

.nav {
    display : flex;
    flex-direction: row;
    background-color: #267ac9;
    color : white;
    font-size: 24px;
    padding: 17px;
    align-items: center;
    justify-content: space-between;
}


.nav div {
    color : white;
    background-color: #ffffff4c;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.presentation {
    display : flex;
    flex-direction:  column;
    align-items: center;
    text-align: justify;
    margin : 20px;
    color : white;
    background-color: #267ac9;
    size: 20px;
    border-radius: 10px;
    padding: 10px;
}

p {
    font-size: 20px;
}
ul {
    font-size: 20px;
}

.equipe {
    display : flex;
    flex-direction:  column;
    align-items: left;
    margin : 20px;
    color : white;
    background-color: #267ac9;
    size: 20px;
    border-radius: 10px;
    padding: 10px;
}


#langue {
    border-radius: 7px;
}

.btn-mode {
    background-color: rgba(0, 0, 0, 0);
    border:none;
    font-size:20px;
}

.sombre {
    color : white;
    background-color: #083967;
}
