body {
    background-color: #b5d3f0;
    font-family: Times, "Times New Roman", Georgia, serif;
    position: relative; 
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
}

body.sombre {
    background-color: #0e1a25;
    font-family: Times, "Times New Roman", Georgia, serif;
    position: relative; 
    min-height: 100vh;
    margin: 0;
}

body::after {
    content: "";
    background-image: url('logo.png');
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0.2;
    z-index: -1; 
}

.nav {
    display : flex;
    flex-direction: row;
    background-color: #267ac9;
    color : white;
    font-size: 24px;
    padding: 17px;
    align-items: center;
    justify-content: space-between;
}
.nav div {
    color : white;
    background-color: #ffffff4c;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.b {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#fin_nav {
    display :flex;
    align-items: end;
}

#index:hover {
    color: red;
}
#admin:hover {
    color: red;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

.seconnecte {
    height: 50px;
    width: 110px;
    background-color: #d02424;
    color : white;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 15px; 
}
.seconnecte:hover {
    background-color: #a81c1c;
}

#langue {
    border-radius: 7px;
}

.btn-mode {
    background-color: rgba(0, 0, 0, 0);
    border:none;
    font-size:20px;
}

.sombre {
    color : white;
    background-color: #083967;
}

.h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
    height: 80%;
    flex: 1;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

#form_admin {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 10px;
}

.mb-3.mt-3 {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding: 20px 50px;
    flex: 1;
    gap: 30px;
}

.col-gauche, .col-droite {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 15px; 
    width : 50%b;
}

select, input {
    padding : 5px;
    border-radius: 5px;
}

.card.sombre input, 
.card.sombre select {
    background-color: #0e1a25;
    color: white;
    border: 1px solid #555;
}
.card.sombre {
    color : white;
    background-color: #1a2b3c;
}



/* boutons */
.btn {
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.1s;
}
button:active { transform: scale(0.98); }

.btn-rouge { 
    background-color: #a33e3e; 
    margin-bottom: 10px; 
    width: 100%; 
    text-align: left;
}
.btn-bleu { 
    background-color: #267ac9; 
    margin-bottom: 10px; 
    width: 100%; 
    text-align: left;
}

#logout:hover {
    color : white;
    background-color: #d02424;
}
.btn-logout { 
    background-color: white; 
    color: black; 
    padding: 5px 10px; 
    font-size: 14px;
}

.btn-logout-sombre { 
    background-color: black; 
    color: white; 
    padding: 5px 10px; 
    font-size: 14px;
}